.body{
    margin: 0;
    font-family: fantasy;
}
.top-container{
    background-color: lightblue;
    padding: 20px;
}
.middle-container{
    background-color: red;
    width: 200px;
    height: 200px;

}
.bottom-container{
    background-color: blue;
    width: 200px;
    height: 200px;

}
#navbar{
    background-color: cyan;
    overflow: hidden;
    position: relative;
}
#navbar a{
    float: right;
    padding: 14px;

}