.body{
    margin: 0;
    font-family: fantasy;
}
.top-container{
    background-color: lightcyan;
    padding: 20px;
}
.middle-container{
    background-color: red;
    width: 200px;
    height: 200px;

}
.bottom-container{
    background-color: blue;
    width: 200px;
    height: 200px;

}
#navbar{
    background-color: none;
    overflow: hidden;
    padding-left: 50%;
    padding-top: 20px;
}
#navbar a{
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    margin:30% 0% 0% 0%; 

}
.profile-pic{
    width: 50%;
    height: 50%;
    background-color: none;
}

.pf-img{
    width: 25%;
    padding: 15px;
    float: left;
    margin-left: 10%;
}
.top-writing{
    width: 50%;
    height: 50%;
    background-color: none;
    margin: 60px auto 70px auto;
    font-family: fantasy;
}

