.body{
    margin: 0;
    font-family: fantasy;
}
.top-container{
    background-color: lightblue;
    padding: 20px;
}
.middle-container{
    background-color: red;
    width: 200px;
    height: 200px;

}
.bottom-container{
    background-color: blue;
    width: 200px;
    height: 200px;

}
#navbar{
    background-color: none;
    overflow: hidden;
    padding-left: 70%;
    padding-top: 50px;
}
#navbar a{
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;

}
.profile{
    width: 200px;
    height: 200px;
    padding-top: 40px;
}